nav.navbar.navbar-expand-lg.navbar-dark.p-2.bg-secondary.border-0
	div.container-fluid
		a.navbar-brand(href="https://ug.edu.pl")
			img(src="https://ug.edu.pl/sites/ug.edu.pl/files/color/ug_theme-aa8f8260/logo.svg" style="width: 128px; height:auto" alt="Logo UG")
		button.navbar-toggler.border-0.rounded-0.p-1(type="button" data-bs-toggle="collapse" data-bs-target="#nawigacja" aria-controls="nawigacja" aria-expanded="false" aria-label="Przełącz nawigację")
			span.navbar-toggler-icon
		div.collapse.navbar-collapse.py-4.py-md-0#nawigacja
			ul.navbar-nav.mx-auto.mb-2.mb-lg-0
				<!-- Uniwersytet -->
					include pug/uniwersytet.pug
				<!-- Rekrutacja -->
					include pug/rekrutacja.pug
				<!-- Studenci -->
					include pug/studenci.pug
				<!-- Pracownicy -->
					include pug/pracownicy.pug
				<!-- Absolewnci -->
					include pug/absolwenci.pug
				li.nav-item.d-block.d-lg-none
				<!-- Ikony techniczne -->
					div
						include pug/icons.pug
			div.px-3
				include pug/icons.pug