li.nav-item.dropdown.position-static
	a.nav-link.dropdown-toggle.text-white.mx-0.mx-md-2(href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Absolwenci
	ul.dropdown-menu.m-0.w-100.shadow-md.rounded-0.border-0.bg-secondary(aria-labelledby="navbarDropdown")
		.container.px-md-2.py-md-5
			.col-md-4
				li.py-2.px-0
					a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/pracownicy/szukaj") Klub Absolwentów
				li.py-2.px-0
					a.text-decoration-none.text-white(href="https://ug.edu.pl/pracownicy/struktura_organizacyjna") Wydziałowe Stowarzyszenia Absolwentów
				li.py-2.px-0
					a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/pracownicy/strony_jednostek") Biuro Karier
				li.py-2.px-0
					a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/pracownicy/erasmus-2021-2027") Gdański Uniwersytet Trzeciego Wieku
				li.py-2.px-0
					a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/pracownicy/system-pol") Podnoszenie kwalifikacji
				li.py-2.px-0
					a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/pracownicy/system-pol") Weryfikacja wykształcenia
