li.nav-item.dropdown.position-static
	a.nav-link.dropdown-toggle.text-white.mx-0.mx-md-2(href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")
		| Studenci
	ul.dropdown-menu.m-0.w-100.shadow-md.rounded-0.border-0.bg-secondary(aria-labelledby="navbarDropdown")
		.container.px-md-2.py-md-5
			.row
				.col-md-4.p-0
					li.px-1.p-2
						a.text-decoration-none.justify-content-start.text-white.d-flex(href="https://ug.edu.pl/studenci/stypendia-dla-studentow-i-doktorantow-szkol-doktorskich")
							| Stypendia dla studentów 
							br
							| i doktorantów Szkół Doktorskich
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/studia-i-i-ii-stopnia-oraz-jednolite-magisterskie")
							| Studia I i II stopnia oraz jednolite magisterskie
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/komunikaty-dla-studentow")
							| Komunikaty dla studentów
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/studia-trzeciego-stopnia/aktualnosci")
							| Studia trzeciego stopnia
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/erasmus_2021-2027")
							| Erasmus+ 2021-2027
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/studia_podyplomowe")
							| Studia podyplomowe
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/gdanski_uniwersytet_trzeciego_wieku")
							| Gdański Uniwersytet Trzeciego Wieku
				.col-md-4.p-0
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/sprawy-informatyczne")
							| Sprawy informatyczne
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/portal-studenta")
							| Portal Studenta
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/portal-edukacyjny")
							| Portal Edukacyjny
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/biuro-karier-ug")
							| Biuro Karier UG
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/kola_naukowe_1")
							| Koła naukowe
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/centrum-wsparcia-psychologicznego")
							| Centrum Wsparcia Psychologicznego
					li.py-2.px-0
						a.text-decoration-none.text-white.d-flex(href="https://ug.edu.pl/studenci/panstwowe-fundusze-celowe")
							| Państwowe Fundusze Celowe
