li.nav-item.dropdown.position-static
	a.nav-link.dropdown-toggle.text-white.mx-0.mx-md-2(href="#" id="navbarDropdown0" role="button" data-bs-toggle="dropdown" aria-expanded="false") O uczelni
	ul.dropdown-menu.m-0.w-100.shadow-md.rounded-0.border-0.bg-secondary(aria-labelledby="navbarDropdown0")
		.container.px-md-2.py-md-5
			.row
				.col-md-4.p-0
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/wladze") Władze
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o_uczelni/struktura_ug") Struktura UG
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/wydzialy") Wydziały
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/uniwersytet-gdanski") O Uniwersytecie Gdańskim
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/uniwersytet-odpowiedzialny-spolecznie") Uniwersytet odpowiedzialny społecznie
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/uniwersytet_otwarty") Uniwersytet Otwarty
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o_uczelni/mapa_ug") Mapa UG
				.col-md-4.p-0
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/wspolpraca") Współpraca
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/miedzynarodowe-centra-badawcze") Międzynarodowe Centra Badawcze
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/uslugi-it") Usługi IT
					li.py-2.px-0
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/gender-equality-plan-dla-ug") Gender Equality Plan dla UG
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/kobiety-w-nauce") Kobiety w nauce
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/zamowienia-publiczne") Zamówienia publiczne
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/o-uczelni/oferty-pracy") Oferty pracy
				.col-md-4
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/news/pl") Aktualności
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/news/pl/events") Wydarzenia
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/media/rzecznik-prasowy-ug") Rzecznik prasowy
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/media/centrum-komunikacji-i-promocji") Centrum Komunikacji i Promocji
						i.bi.bi-chevron-down
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://ug.edu.pl/media/") Media Uniwersyteckie
					li.py-2.px-1
						a.text-decoration-none.d-flex.text-white(href="https://sklepik.ug.edu.pl/" target="_blank") Sklep
